name: Build Site

on:
  push:
    paths:
      - "content.yml"
      - "build/**"
      - ".github/workflows/build.yml"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependency
        run: |
          npm init -y
          npm install js-yaml

      - name: Build site
        run: node build/build.js

      - name: Commit generated site
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add docs/index.html
          git commit -m "Auto build site" || echo "No changes to commit"
          git push
